html {
    /*background: #fffefc;*/
    width: 100%;
}

/* Center the content */
body {
    width: 70%;
    margin: 0 auto;
}

html,
body {
    min-height: 100%;
}
/* Header */
.header {
    position: fixed;
    left: 0;
    right: 0;
    height: 3rem;
    font-family: Arial;
    z-index: 1;
    padding: 15px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
}

.header a {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-nav {
    display: flex;
    margin-right: auto !important;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.nav-item {
    list-style: none;
    box-sizing: border-box;
    padding-left: 20px;
}

.nav-item a {
    color: rgba(0, 0, 0, 0.5);
}

.header-nottop {
    background: hsla(0, 0%, 100%, 0.97);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.5s;
}

.content {
    position: relative;
    top: 5rem;
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    padding: 16px;
    font-family: 'Source Sans Pro';
    -webkit-font-smoothing: antialiased;
}

.content .post {
    font-size: 16px;
}

.posts .post {
    font-size: 24px;
    line-height: 3rem;
}

.posts .post .subtitle {
    color: #888;
    font-size: 16px;
    font-style: italic;
}

.post-date {
    color: rgba(0, 0, 0, 0.8);
}

.reading-time {
    color: rgba(0, 0, 0, 0.8);
}

p.image {
    text-align: center;
}

.center {
    text-align: center;
}

.standout-text {
    font-size: 20px;
}

pre {
    overflow: scroll;
    border-radius: 3px;
    padding: 10px;
    background: #f7f7f7;
}

code.highlighter-rouge {
    font-size: 14px;
    font-weight: bold;
}

/* Middot divider */
.middotDivider {
    display: inline-block;
    padding: 0 0.42em;
}

.middotDivider::after {
    content: '\00b7';
}

/* Horizonal rule */

hr {
    margin-top: 52px;
    margin-bottom: 42px;
    text-align: center;
    border: 0;
    height: 0;
    overflow: visible;
}

hr::before {
    position: relative;
    top: -25px;
    margin-left: 0.8em;
    font-size: 21px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.8em;
    color: rgba(0, 0, 0, 0.6);
    content: '\002e\002e\002e';
}
