<div class="header" id="header" >
    <div class="header-container">

      <a class="navbar-brand" href="{{ site.baseurl }}/">
          {{ site.title }}
      </a>

      <nav class="navbar">
        <ul class="navbar-nav">
        {% for node in site.pages %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
            <li class='nav-item'>
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
            {% endif %}
          {% endif %}
        {% endfor %}
          <li class="nav-item">
            <a href="{{ site.github.user }}">GitHub</a>
          </li>
        </ul>
      </nav>

    </div>
</div>
